/* * {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
} */

.container-form {
  padding: 20px;
  margin-bottom: 20px;

  background-color: hsla(192, 84%, 25%, 0.736);
  
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-form input {
  min-width: 250px;
  padding: 5px 5px 5px 15px;

  border: none;
  font-size: 18px;
  font-weight: 700;
}

.btn-serch {
  width: 60px;
  height: 40px;
  
  border: none;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;

  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-serch:hover {
  background-color: hsl(204, 79%, 26%);
}

.container-btn {
  margin-top: 20px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  
  
}

.js-gallery {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.photo-card {
  display: flex;
  flex-direction: column;

  border: 2px solid hsla(192, 84%, 25%, 0.736);
  border-radius: 10px;
}



.photo {
  object-fit: cover;
}

.info {
  width: 320px;
  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  
  text-transform: uppercase;
  font-size: 13.5px;
  line-height: 1px;
  font-weight: 900;

  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  
}

.info:hover {
  background-color: hsla(205, 62%, 69%, 0.249);
}

.btn-load {
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background-color: hsla(192, 84%, 25%, 0.736);
  
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;

  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-load:hover {
  background-color: hsl(204, 79%, 26%);
}

.is-hidden {
  display: none;
}
.tui-page-btn {
  background-color: hsla(205, 62%, 69%, 0.249);
  color: white;
  font-size: 18px;
}

.tui-is-selected {
  background-color: hsla(192, 84%, 25%, 0.736);
}

/* ---------------------- Button UP ---------------------- */

.btn-up {
  position: fixed;
  background-color: hsla(192, 84%, 25%, 0.736);
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;

  transition-property: background-color;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up-hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: hsla(192, 76%, 16%, 0.886);
  }
}
